@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #ede7f6;
    color: #202124;
}

.container{
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    width: 600px;
}

.as{
    color: #d93025;
}

form{
    letter-spacing: .1px;
    line-height: 20px;
    
}

.input{
    letter-spacing: .2px;
    line-height: 20px;
    min-width: 1px;
    padding: 20px;
}


input[type="radio"]{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border-color: #dadce0;
    border-style: solid;
    margin-right: 20px;
    margin-bottom: 20px;
}

input[type="text"]{
    border-style: none;
    background-color: transparent;
    border-bottom: 1px hsl(180, 2%, 72%) solid;
    display: block;
    margin-top: 20px;
}
