@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #ede7f6;
    color: #202124;
}
.main-wrapper {
    margin: auto;
    max-width: 90vw;
    width: 640px;
}
.header-section, .section-five {
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    padding-top: 22px;
    position: relative;
}
.header-first {
    background-color: rgb(103, 58, 183);
    color: rgba(255, 255, 255, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 10px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: calc(100% + 2px);
}
h1 {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 32px;
    font-weight: 400;
    /* line-height: 40px; */
    color: #202124;
    line-height: 135%;
    max-width: 100%;
    min-width: 0%;
}
p {
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    margin-top: 12px;
}
.header-section p {
    font-size: 14px;
}

.header-section p#required {
    color: #d93025;
}

.section-five p{
    font-size: 16px;
}
input {
    background-color: transparent;
    border: none;
    height: 24px;
}
